/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}
:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}
.fa-star {
    color: var(--main-color);
}
body {
    display: flex;
    justify-content: center;
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
}
.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}
.section-title {
    margin: 0;
    font-size: 22px;
}
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.card img {
    object-fit: cover;
}
.card-title {
    font-size: 16px;
}
.euro {
    font-weight: 700;
}
.neutral-star {
    color: var(--main-bg-color);
}
ul {
    list-style: none;
}
a {
    outline: none;
    text-decoration: none;
    color: black;
}


/*********** header ***********/


.logo {
    width: 61px;
    height: 19px;
    padding: 30px 30px 30px 0px;
    gap: 10px;
}
.top li {
    display: inline-block; 
    padding: 10px 20px; 
}
.top ul {
    margin: 0;
}
.top li {
    border-top: 2px solid var(--main-bg-color);
}
.top li:hover{
    border-top: 2px solid var(--main-color);
}
.top li:hover a{
    color: var(--main-color); 
}
.main-container li {
    justify-content: space-between;
    background: #ffffff;
}


/*********** info-groupe ***********/


.info-groupe {
    gap: 35px;
}


/*********** titre ***********/


.titre h1 { 
    margin-bottom: 0px;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}
.titre p {
    margin-bottom: 25px;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}


/*********** bar de recherche ***********/


.recherche-bar {
    margin-top: 15px;
    width: 362px;
    height: 49px;
    border-radius: 15px;
    gap: 0px;
    display: flex;
    justify-content: start; 
    border: 1px solid rgb(242, 242, 242);
}
.recherche-bar div {
    background-color: var(--main-bg-color);
    width: 50px;
    height: 49px;
    border-radius: 15px 0px 0px 15px;
    border: 1px solid rgb(242, 242, 242);
}
.pin {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.recherche-bar .text {
    padding: 15px 16px 15px 16px;
    width: 147px;
    height: 21px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    border: 1px none rgb(242, 242, 242);
    display: flex;
    justify-content: center;
    align-items: center;
}
.recherche-bar .recherche {
    width: 132px;
    height: 49px;
    padding: 15px 16px 15px 16px;
    border-radius: 0px 15px 15px 0px;
    border: 1px;
    gap: 10px;
    background-color: var(--main-color);
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
}


/*********** filtre ***********/


.filtre {
    margin-top: 25px;
    display: flex;
    width: 100%;
    height: 50px;
    gap: 15px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
}
.filtre div {
    display: flex;
}
.filtre button{
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: white;
    height: 50px;
    padding: 4px 10px 4px 10px;
    border-radius: 40px;
    gap: 10px;
    border: 2px solid rgba(217, 217, 217, 1);
    font-size: 17px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
}
.filtre div :hover {
    background-color: var(--filter-bg-color);
}
.filtre i {
    justify-content: center;
    align-items: center;
    display: flex;
    color: var(--main-color);
    font-size: 19px;
    width: 22px;
    height: 22px;
    padding: 1px 1.503173828125px 0.9230747222900391px 2.496826171875px; 
}


/*********** info-bar ***********/


.info-bar {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    width: 100%;
    height: 24px;
    gap: 10px;
}
.info-bar i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 40px;
    color: var(--main-color);
}
.info-bar p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*********** Hebergements And Populaires ***********/


.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}
.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}


/*********** Hebergements ***********/


.hebergements {
    width: 65%;
    
}
.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hebergements-cards .card {
    display: grid;
    margin-top: 33px;
    
}
.hebergements-cards{
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-gap: 20px;
    
}
.hebergements-cards img {
    width: 100%;
    height: 136px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
   
}
.hebergements-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}
.hebergements-cards .card-subtitle {
    margin: 0;
}
.hebergements-cards .card-rating {
    margin-bottom: 5px;
}


/*********** Populaires ***********/


.populaires {
    width: 32%;
}
.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.populaires-title i {
    color: var(--main-color);
}
.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}
.populaires-cards a {
    width: 100%;
    display: flex;
}
.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}
.populaires-cards .card-subtitle {
    margin: 0;
}
.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/*********** activiter ***********/


.activiter {
    width:  calc(100% - 30px);
    height: 559.02px;
}
.activiter div {
    display: flex;
    width:  calc(100% - 30px);
    height: 439px;
    gap: 30px;
    justify-content: space-between;
}
.activiter article {
    justify-content: center;
    width: 25%;
    border: 1px none rgba(217, 217, 217, 1);
    padding: 0%;
    height: 460px;
}
.activiter a {
    display: block;
    height: 100%;
}
.activiter h4 {
    margin: 0;
    padding: 15px;
}
.activiter img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0px 0px
}


/*********** footer ***********/


footer {
    display: flex;
    width: 100%;
    background-color: var(--main-bg-color);
    box-sizing: border-box;
    gap: 15px;
}
.bas-page ul {
    width: 33%;
}
.bas-page ul li {
    margin: 13px 0px 13px 0px;
    background-color: var(--main-bg-color);
}
.bas-page ul li:nth-child(1) {
    margin-top: 0;
    font-weight: bold;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}
.bas-page ul li:nth-child(n+2) {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

@media (min-width:767.98px) {
    .hebergements-and-populaires section {
        background-color: var(--main-bg-color);
        
    }
    .recherche-bar button {
        display: none;
    }
}


/*********** Media queries ***********/


/* Medium devices (tablets, less/equal than 1024px) */


@media (max-width: 1024px) {

    /*********** Hebergements And Populaires ***********/

    .hebergements-and-populaires {
        flex-direction: column;
        justify-content: center;
    }


    /*********** Hebergements ***********/


    .hebergements {
        width: 100%;
    }
     .hebergements-cards {
        /* display: flex; */
        flex-direction: row;
        justify-content: space-between;
    }
    .hebergements-cards .card-title {
        font-size: 14px;
    }
    .hebergements-cards .card-subtitle {
        font-size: 13px;
    }


    /*********** Populaires ***********/


    .populaires {
        width: 100%;
        margin-top: 50px;
    }
    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .populaires-cards .card {
        width: 30%;
    }
    .populaires-cards .card-title {
        font-size: 14px;
    }
    .populaires-cards .card-subtitle {
        font-size: 13px;
    }


    /*********** activiter ***********/


    .activiter {
    width:  calc(100% - 30px);
    height: 400.02px;
    }
    .activiter div {
        width:  100%;
        height: 400px;
        gap: 30px;
    }
    .activiter article {
        justify-content: center;
        width: 50%;
        height: 290px;
        
    }
    .activiter img {
        width: 100%;
        height: 200px;
        border-radius: 20px 20px 0px 0px
    }
}


/* Small devices (phones, less than 768px) */


@media (max-width: 767.98px) {

    /*********** General ***********/

    .main-container {
        width: 100%;
        padding: 0;
        box-sizing: initial;
    }
    header {
        display: block;
        justify-content: center;
    }
    .card {
        padding: 0;
        width: 90%;
        margin: 05%;
    }


    /*********** header ***********/


    .div-logo {
        text-align: center;
        margin: auto;
    }
    .logo {
        padding: 30px;
    }
    .top ul {
        width: 100%;
        display: flex;
        padding: 0;
    }
    .top li {
        width: 50%;
        text-align: center;
        border-bottom: 2px solid var(--filter-bg-color);
        border-top: none
    }
    .top li:hover {
        border-bottom: 2px solid var(--main-color); 
        border-top: none
    }


    /*********** info-groupe ***********/


    .info-groupe {
        margin: 05%;
    }


    /*********** bar de recherche ***********/


    .recherche-bar {
        width: 100%;
        justify-content: space-between;
    }
    .recherche-bar input {
        display: none;
    }
    .recherche-bar button {
        width: 49px;
        gap: 0;
    }
    .recherche-bar pin {
        width: 49px;
        gap: 0;
    }
    .recherche-bar .text {
        width: 55%;
        height: auto;
    } 
    .recherche-bar .recherche {
        width: 49px;
        border-radius: 15px;
        align-items: end;
        justify-content: end;
        justify-items: end;
    }
    
    
    /*********** filtre ***********/


    .filtre {
        margin: 05%;
        display: contents;
    }
    .filtre p {
        text-align: left;
    }
    .filtre div {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 20px;
    }
    .filtre button {
        justify-content: initial;
        letter-spacing: 0;
        text-align: initial;
        font-size: 13px;
    }


    /*********** Hebergements And Populaires ***********/

    
    .hebergements-and-populaires {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
    }
    .hebergements-and-populaires section {
        padding: 0;
        border-radius: 0;
        box-sizing: initial;
    }


    /*********** populaires ***********/


    .populaires {
        width: 100%;
        padding-bottom: 30px;
        margin-bottom: 40px;
        margin-top: 20px;
        background-color: var(--main-bg-color);
    }
    .populaires-title {
        margin: 05%;
    }
    .populaires-cards {
        display: initial;
    }
    .populaires-cards .card {
        width: 90%;
        margin-top: 33px;
        align-items: center;
    }
    .populaires-cards img {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        height: calc(100% - 10px);
        padding: 5px;
    }


    /*********** hebergement ***********/


    .hebergements-title {
        margin: 05%;
    }
    .hebergements {
        width: 100%;
    }
    .hebergements-cards {
        display: initial;
        grid-template-columns: 32% 32% 32%;
        grid-gap: 20px;
    }
    .hebergements-cards .card {
        height: 220px;
    }
    .afficher {
        margin: 05%;
    }
    

    /*********** activiter ***********/
    

    .activiter {
        height: auto;
        width: 100%;
    }
    .activiter div {
        display: initial;
        height: 200px;
    }
    .activiter article {
        justify-content: center;
        width: 90%;
        border: 1px none rgba(217, 217, 217, 1);
        padding-bottom: 60px;
        margin-top: 20px;
        height: 200px;
    }
    .activiter h4 {
        padding: 15px;
        align-items: center;
    }
    .activiter h2 {
        margin: 05%;
    }
    .card a {
        height: 200px;
    }


    /*********** footer ***********/


    footer {
        display: flow-root;
        box-sizing: initial;
    }
}